@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";


body{ 
  background-color:#F5F5F7
}

.title-main{
  font-family: "Roboto", sans-serif;
}

.subtitle-main{
  font-family: "Roboto", sans-serif;
}

.ParcelaCard{
  font-family: "Space Mono", monospace;
}

